@using CUSrinagar.Extensions;

@{
    ViewBag.Title = "CUS :: New Admission";
}
@section CUSSitemap{
    <div class="col-md-5">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "Dashboard", new { area = "CUSrinagarAdminPanel" })">Home</a>
            </li>
            <li class="active">New Admissions</li>
        </ul><!-- /.breadcrumb -->
    </div>
    <div class="col-md-7">
        @*<h2 class="no-margins">
                Result Reports
            </h2>*@
    </div>
    <div class="col-md-4">
    </div>
}

<div class="row">
    <div class="col-md-12 jsTableContent">
        <div class="panel panel-primary js-pager-table" data-otherparam1="@CUSrinagar.Enums.PrintProgramme.IH">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Statistics
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        New Entrance Form Applications
                    </small>
                    <span class="clickable filter-btn pull-right" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</a>
                    </span>
                </h3>
            </div>
            <div class="panel-body hidden">
                <div class="search-box">
                    <form class="form-inline">
                        <div class="form-group">
                            <label>Programme</label><br />
                            <div class="jsDDLContainer">
                                @Html.DropDownList("programme", new SelectList(ViewBag.PrintProgrammes, "Value", "Text", (short)CUSrinagar.Enums.PrintProgramme.UG), null,
                                          new
                                          {
                                              @class = "",
                                              @style = "width:100%!important",
                                              @data_column = "Programme",
                                              @data_operator = "EqualTo"
                                          })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="invisible">for styling purpose</label><br />
                            <button type="button" class="btn btn-primary btn-sm fa-search-btn js-search"><i class="fa fa-search"></i>&nbsp;Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="js-table-content" data-url=@Url.Action("NewAdmissionStatisticsList") data-DefaultOrderByColumn="CourseFullName">
            </div>
            @{Html.RenderPartial("_JSPagerTableFooter");}
        </div>
    </div>
</div>


@section PageSpecificJS{
    <script>
        $(document).ready(function () {
            loadpagertableWithDefaultParams();


            $("#programme").change(function () {
                var _printProgramme = $("#programme option:selected").val();
                $('.js-pager-table').data('otherparam1', _printProgramme);
                $('.js-exportToCSV').data('otherparam1', 'printProgramme=' + _printProgramme);

            });
        });
    </script>
}



