
@{
    ViewBag.Title = "Dashboard";
}
<div class="page-header">
    <h1>
        Dashboard
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            overview &amp; stats
        </small>
    </h1>
</div>
<div class="clearfix">
    @if (TempData["response"] != null)
    {
        @Html.Raw(TempData["response"])
    }
    <div class="no-margin">
        <h1 style="text-align:center"><b>Welcome to Cluster University College Panel</b></h1>
    </div>

</div>
<div class="profile-user-info profile-user-info-striped">
    <div class="profile-info-row">
        <div class="profile-info-name"> Username </div>

        <div class="profile-info-value">
            <span class="editable editable-click" id="username"><span>@HttpContext.Current.User.Identity.Name</span></span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> Email </div>

        <div class="profile-info-value">
            <span class="editable editable-click">@CUSrinagar.Models.AppUserHelper.EmailId</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> Designation </div>

        <div class="profile-info-value">
            <span class="editable editable-click">@CUSrinagar.Models.AppUserHelper.Designation</span>
        </div>
    </div>

    @*<div class="profile-info-row">
            <div class="profile-info-name"> Joined </div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="signup">2010/06/20</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> Last Online </div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="login">3 hours ago</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> About Me </div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="about">Editable as WYSIWYG</span>
            </div>
        </div>*@
</div>


