
@model  List<CUSrinagar.Models.ADMCourseMaster>
@{
    Layout = null;
    var ISChecked = "";
}

<table class="table table-hover table-bordered js-table">
    <thead style="white-space: nowrap;">
        <tr>
            <th data-property="CourseFullName">Course</th>
            <th data-property="GroupName">Group</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null)
        {
            foreach (var row in Model)
            {
        <tr>
            <td>
                <a href='@Url.Action("Edit","Course",new { area = "CUSrinagarAdminPanel", @id = row.Course_ID })'>
                    @row.CourseFullName
                </a>
            </td>
            <td>
               
                    @row.GroupName
                 </td>

        </tr>
            }
        }
    </tbody>
</table>

