

@{
    ViewBag.Title = "Questionaire";
}

<div class="page-wrapper pager-table-text">

    <div class="page-header">
        <div style="padding-bottom: 30px;">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <h1 class="heading-title pull-left">
                        Questionaire
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            List of questions
                        </small>
                    </h1>

                </div>

                <div class="col-sm-6">

                </div>


                <div class="col-sm-6 align-right">

                    @Html.ActionLink("Add New", "Create", "Questioniare", new { area = "CUSrinagarAdminPanel", @class = "btn btn-sm btn-primary white" })


                      </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="row page-row">
            <div class="content-wrapper col-md-10 col-sm-8 jsSingleContent"></div>
            <div class="col-md-12 jsTableContent">
                <div class="panel panel-primary js-pager-table">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Questions
                            <span class="clickable filter-btn pull-right" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                <a href="#"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</a>
                            </span>

                        </h3>
                    </div>
                    <div class="panel-body">
                        @*<div class="col-sm-12" style="padding-bottom:10px">
                                <label class="col-sm-12">Quick Search</label>
                                <div class="col-sm-12 lbl bigger-120 no-padding-right">
                                    @Html.TextBox("Quicksearch", "", new { @class = "form-control", @data_action = "table-filter", @data_filters = ".js-table-content", placeholder = "Filter Developers" })
                                </div>
                            </div>
                            <br />*@
                        <div class="col-sm-12 search-box">
                            <label class="col-sm-12">Advance Search</label>

                            <div class="col-sm-5 lbl bigger-120 no-padding-right">
                                Description
                                <div id="Course">
                                    @Html.TextBox("Question", "", new { @class = "form-control jsfilterelement", @data_column = "Question", @data_operator = "Contains" })
                                </div>
                            </div>

                           
                            <div class="col-sm-1 " style="padding-top: 17px;">
                                <button type="button" class="btn btn-primary fa-search-btn"><i class="fa fa-search"></i>&nbsp;Search</button>
                            </div>
                        </div>

                    </div>

                    <div class="js-table-content" data-url="@Url.Action("QuestionaireListTable", "Questionaire", new { area = "CUSrinagarAdminPanel" })" data-DefaultOrderByColumn="Question">

                    </div>
                    @{Html.RenderPartial("_JSPagerTableFooter");}
                </div>
            </div>
        </div>
    </div>
</div>

@section PageSpecificJS{
    <script>
        $(document).ready(function () {

            var $pagertable = $(".js-pager-table");

            loadpagertable();
        });
        
    </script>
    <style>
        .filter-btn a {
            color: white !important
        }
    </style>
}




