
@model  CUSrinagar.Models.InternalQuestions
@{
    ViewBag.Title = "CUS :: Add Questions";

}
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header">

                <h4 class="widget-title"><i class='menu-icon fa fa-pencil-square-o'></i>Add Internal Question</h4>


            </div>
            <div class="widget-body">
                <div class="widget-main">
                    @if (ViewBag.Message != null)
                    {
                        @Html.Raw(ViewBag.Message)
                    }

                    @using (Html.BeginForm("AddQuestions", "InternalAdmin", FormMethod.Post, new { enctype = "multipart/form-data", @name = "validation-form", @id = "validation-form", @class = "form-horizontal", @role = "form" }))
                    {


                        @Html.Partial("_CreateOrEditQuestion", Model)

                    }
                </div>
            </div>
        </div>
    </div>
</div>

