@*sidebar-shortcuts*@
<div class="sidebar-shortcuts" id="sidebar-shortcuts" style="padding: 8px; background-color: #e6f3e8">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <img src="/Content/ThemePublic/PrintImages/CUSLogo.png" style="width:40px;">
        <strong>Student Portal</strong>
    </div>
    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <img src="/Content/ThemePublic/PrintImages/CUSLogo.png" style="width:40px;">
        <strong>Student Portal</strong>
    </div>
</div>
