@{
    ViewBag.Title = "CUS::Transcript";
}
@section CUSSitemap{
    <div class="col-md-5">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Dashboard",new { area="CUSrinagarAdminPanel"})">Home</a>
            </li>
            <li class="active">Transcript Notification List</li>
        </ul><!-- /.breadcrumb -->
    </div>
    <div class="col-md-7">
        @*<h2 class="no-margins">
                Result Reports
            </h2>*@
    </div>
    <div class="col-md-4">
    </div>
}

<div class="row">
    <div class="col-md-12 jsTableContent">
        <div class="panel panel-primary js-pager-table">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Transcript
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        List of Notification
                    </small>
                    <span class="clickable filter-btn pull-right" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</a>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="search-box">
                    <form class="form-inline">
                        <div class="form-group">
                            <label>Batch</label><br />
                            <div class="jsDDLContainer">
                                <select class="jsfilterelement form-control" data-column="Batch" data-operator="EqualTo" id="BatchDDL">
                                    <option value="2017" selected="selected">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Choose College</label><br />
                            <div class="jsDDLContainer">
                                @Html.DropDownList("CollegeDDL", new SelectList(ViewBag.College, "Value", "Text"), "------ All Colleges ------",
                               new
                               {
                                   @class = "chosen-select jsfilterelement jsCollegeDDL",
                                   @data_column = "AcceptCollege_ID",
                                   @data_operator = "EqualTo",
                                   @data_scope="row1"
                               })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Choose Course</label><br />
                            <div class="jsDDLContainer  wd-200">
                                @Html.DropDownList("Course", new SelectList(ViewBag.Courses, "Value", "Text", (short)CUSrinagar.Enums.Programme.UG), " -- All Courses --",
                                           new
                                           {
                                               @class = "form-control chosen-select jsCourseDDL jsfilterelement",
                                               @data_column = "Course_ID",
                                               @data_operator = "EqualTo",
                                               @data_tablealias = "ADMCourseMaster",
                                               @data_defaulttextvalue = " -- All Courses --,",
                                               @data_scope="row1"
                                           })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="invisible">for styling purpose</label><br />
                            <button type="button" class="btn btn-primary btn-sm fa-search-btn js-search"><i class="fa fa-search"></i>&nbsp;Search</button>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle" type="button">
                                    Action
                                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-default dropdown-info">
                                    <li>
                                        <a href="javascript:void(0)" class="js-exportToCSV" data-url="@Url.Action("","",new { area="CUSrinagarAdminPanel"})">
                                            Download Excel(CSV)
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="js-table-content" data-url=@Url.Action("TranscriptNotificationListPartial") data-DefaultOrderByColumn="Batch">
            </div>
            @{Html.RenderPartial("_JSPagerTableFooter");}
        </div>
    </div>
</div>


@section PageSpecificJS{
    
}
