@model CUSrinagar.Models.ProceedOptions

@using (Html.BeginForm("Proceed", "Registration", FormMethod.Post, new { @class = "rnd5" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-3">    </div>
    <div class="row page-row" style="background-color:white;padding-bottom: 10px">
        <div class="content-wrapper">
            <label class="col-sm-4 lbl bigger-120 no-padding-right">
                @Html.LabelFor(model => Model.ProceedProgrammeOption, new { @class = "small-70" })
                <span class="required">
                    *
                    @Html.ValidationMessageFor(model => model.ProceedProgrammeOption)
                    <br />
                    @Html.DropDownListFor(m => m.ProceedProgrammeOption, Model.SelectListItemOptions, "-- Select Course --", new { @class = "form-control" })
                </span><br />
                <input type="submit" value=" Proceed " class="btn btn-theme center-block " style="font-weight:bold;font-size:20px;">
            </label>
        </div>
    </div>
}

