<div class="col-sm-12" style="background:#837492; min-height:500px;color:White;font-size:xx-large">
    <div class="col-sm-2"></div>
    <div class="col-sm-9" style="padding-top:150px"> <h1 class="text-center" style="font-size:400%; text-align:center"><b>Coming Soon</b></h1></div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12"><p></p></div>
</div>