<div class="page-wrapper">
    <div class="page-content">

        <div class="col-md-9 col-sm-9 col-xs-12" align="left">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h4 style="text-align:center;">Instructions for Paper Setters with regard to Term End Examination question paper for four year Degree Programme in Engineering and Technology (session 2017)</h4>
                </div>
                <hr class="no-margin-bottom" />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Total Units:</th>
                            <th style="color:black;">Four</th>
                            <th>Marks per Unit:</th>
                            <th style="color:black;">25</th>
                        </tr>
                        <tr>
                            <th> </th>
                            <th> </th>
                            <th>Total Marks:</th>
                            <th style="color:black;">100</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div style="float: left;width: 50%;"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="">
                    <h5><b> Question paper shall have following three Sections containing questions of three types</b></h5>
                </div>
                <hr class="no-margin-bottom" />
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4><i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; Section - A</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td style="width:80%;">06 long answer type questions out of which candidate shall be asked to attempt four only. 14 marks shall be awarded to each question.</td>
                                <td class="col-lg-5 text-right" style="font-weight:bold;color:black;">(14x4 = 56 marks)</td>
                            </tr>
                        </thead>
                    </table>
                    <h4><i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; Section - B</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td style="width:80%;">06 problem solving type questions out of which candidate shall be asked to attempt four only. 07 marks shall be awarded for each question.</td>
                                <td class="col-lg-5 text-right" style="font-weight:bold;color:black;">(7X4 = 28 marks)</td>
                            </tr>
                        </thead>
                    </table>
                    <h4><i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; Section - C</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td style="width:80%;">08 objective type questions selecting two questions from each Unit. Two marks shall be awarded for each objective type question. </td>
                                <td class="col-lg-5 text-right" style="font-weight:bold;color:black;">(2X8 = 16 marks)</td>
                            </tr>
                        </thead>
                    </table>
                    <h3>Note: </h3>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p>For the first two sections of the question paper (containing long and problem solving type questions) 04 questions shall be based on four different units of the syllabus. The additional two questions in the two sections shall be set in such a manner so that all the four units of syllabus are covered. If the additional two questions in long answer type question section are from units I and II the additional two questions in the problem solving question section shall be from Unit III and IV.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            @{ Html.RenderPartial("~/Views/Shared/_CUWebAppRightNavigation.cshtml");}
        </div>
    </div>
</div>
<script>
    var _CurrentSection = "Examination";
</script>
