<div class="page-wrapper">
    <div class="page-content">
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="">
                    <h4>Instructions with regard to the Term End Question Paper For P G Programmes 2017 session</h4>
                </div>
                <hr class="no-margin-bottom" />
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h5> Continuous Assessment Component of Evaluation (Internal / Continuous Assessment) and Term End Examination shall be conducted as per the following break-up:-</h5>
                    <h5>Credit weight age for all P.G. Programmes (Semester I): &nbsp;24 Credits</h5>
                    <p>1. &nbsp;Core: 12 Credits</p>
                    <p>2. &nbsp;Descriptive Centric: 08 Credits.</p>
                    <p>3. &nbsp;Open / Generic Electives: 04 Credits</p>
                    <p>Marks to be awarded for a Course with weight age of <strong>4 Credits</strong> and <strong>2 Credits</strong> shall be as under:-</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>04 Credits (Units)</th>
                                <th>100 Marks</th>
                                <th>02 Credits (Units)</th>
                                <th>50 Marks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Marks for External (University Assessment)</td>
                                <td>80 marks</td>
                                <td></td>
                                <td> 40 Marks</td>
                            </tr>
                            <tr>
                                <td>Marks for Continuous Assessment</td>
                                <td>20 marks</td>
                                <td></td>
                                <td>10 Marks</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="">
                    <h5><b> Pattern of Question Paper for Term End Examination:&nbsp; 4 Credits (Units)</b></h5>
                </div>
                <hr class="no-margin-bottom" />
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h5>Each Question Paper for 4 credit courses shall be of 80 marks with the following break up</h5>
                    <h6><i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; Problem / Applied / Medium Answer Questions</h6>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h6>8 questions (Two questions from each unit; All to be attempted)</h6>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Marks per question</td>
                                    <td></td>
                                    <td>06</td>
                                </tr>
                                <tr>
                                    <td>Total marks</td>
                                    <td>6 x 8</td>
                                    <td>48</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h6><i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; Long Answer Type Question</h6>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h6>4 questions (One question from each unit; Only two to be attempted)</h6>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Marks per question</td>
                                    <td>16</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Total marks</td>
                                    <td>2 x 16</td>
                                    <td>32</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h6><i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; </h6>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h6>Out of 20 marks reserved for Internal / Continuous Assessment, four marks shall be awarded for attendance on pro-rata basis:</h6>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>75% to 80%</td>
                                    <td>16</td>
                                </tr>
                                <tr>
                                    <td>80% to 89%</td>
                                    <td>2 x 16</td>
                                </tr>
                                <tr>
                                    <td>80% to 89%</td>
                                    <td>2 x 16</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="">
                    <h5><b> Pattern of Question Paper for Term End Examination:  3 Credits (Units)</b></h5>
                </div>
                <hr class="no-margin-bottom" />
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h5>Each Question Paper of 3 credit courses shall be of 60 marks with the following break up:-</h5>
                    <h6><i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp;  Problem / Applied / Medium Answer Questions</h6>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h6>8 questions  (Two questions from each unit; All to be attempted)</h6>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Marks per question</td>
                                    <td>4.5</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Total marks</td>
                                    <td>4.5 x 8</td>
                                    <td>36</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h6><i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp;  Long Answer Type Questions</h6>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h6>4 questions (One question from each unit; Only two to be attempted)</h6>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Marks per question</td>
                                    <td>12</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Total marks</td>
                                    <td>12 X 2</td>
                                    <td>24</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h6><i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; </h6>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h6>Out of 15 marks reserved for Internal / Continuous Assessment, three(3) marks shall be awarded for attendance on pro-rata basis:</h6>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>75% to 80%</td>
                                    <td>1 mark</td>
                                </tr>
                                <tr>
                                    <td>80% to 89%</td>
                                    <td>2 mark</td>
                                </tr>
                                <tr>
                                    <td> 90% and above</td>
                                    <td>3 mark</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="">
                    <h5><b> Pattern of Question Paper for Term End Examination:  2 Credits (Units)</b></h5>
                </div>
                <hr class="no-margin-bottom" />
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h5>Each Question Paper of 2 credit courses shall be of 40 marks with the following break up:-</h5>
                    <h6><i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp;   Problem / Applied / Medium Answer Questions</h6>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h6>4 questions  (Two questions from each unit; All to be attempted)</h6>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Marks per question</td>
                                    <td>06</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Total marks</td>
                                    <td>6 x 4</td>
                                    <td>24</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h6><i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp;  Long Answer Type Questions</h6>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h6>2 questions (One question from each unit; Only one to be attempted)</h6>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Marks per question</td>
                                    <td>16</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Total marks</td>
                                    <td>1 x 16</td>
                                    <td>16</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h6><i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; </h6>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h6>Out of 10 marks reserved for Internal / Continuous Assessment, two marks shall be awarded for attendance on pro-rata basis:</h6>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>75% to 89%</td>
                                    <td>1 mark</td>
                                </tr>
                                <tr>
                                    <td>90% and above</td>
                                    <td>2 mark</td>
                                </tr>
                            </tbody>
                        </table>
                        <h6><i>Internal assessment for Lab. Oriented courses shall be practical oriented.</i></h6>
                        <p>
                            <h6><i>Internal assessment for non-lab. Oriented courses shall be in the form of one or some of the following:</i></h6>
                            1. &nbsp; Tutorials<br>
                            2. &nbsp; Seminars<br>
                            3. &nbsp; Viva-voce<br>
                            4. &nbsp; Assignments<br>
                            5. &nbsp; &nbsp;Tests, etc
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12">
            @{ Html.RenderPartial("~/Views/Shared/_CUWebAppRightNavigation.cshtml");}
        </div>
    </div>
</div>

<script>
    var _CurrentSection = "Examination";
</script>