<div class="page-wrapper">
    <div class="page-content">
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="">
                <h4>Instructions with regard to term end question paper for under graduate and five year integrated programmes session 2017</h4>
            </div>
            <hr />
            <div class="panel-group">
                <h6>Term End Examination Scheme for theory part</h6>
                <h6>Total Units 4 Total marks per unit 15 Total marks: 60</h6>
                <h6>1-2-4-8 Model for distribution of marks</h6>
                <br />
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <span><i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
                        For each unit, 1 mark shall be awarded for attendance
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        (1 x 4= 4 marks)
                    </div>
                </div>
                <hr class="no-margin-top" />
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <span><i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
                        For each unit, 2 marks shall be awarded for two objective type questions
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        (2 x 4= 8 marks)
                    </div>
                </div>
                <hr class="no-margin-top"  />
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <span><i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
                        For each unit, 4 marks shall be awarded for Applied Questions
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        (4 x 4= 16 marks)
                    </div>
                </div>
                <hr class="no-margin-top" />
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <span><i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
                        For each unit, 8 marks shall be awarded for Descriptive Questions
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        (4 x 8 = 32 marks)
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p>As per the above pattern the question paper setter shall be set for 56 Marks only and 04 marks shall be awarded for attendance.</p>

                        <h4><em>The Question Paper of the Term End Examination shall have questions of three types:</em></h4>

                        <p>1. &nbsp;6 Long Answer Type Questions out of which candidate will be asked to attempt 4.</p>
                        <p>2. &nbsp;6 Problem Solving Type Questions out of which candidates will be asked to attempt 4.</p>
                        <p>3. &nbsp;8 Objective Type Questions with suggested options of answers. (All Compulsory)</p>
                        <p>
                            For the first two sections of the Question Paper (containing Long and Problem-Solving Type Questions) four questions shall
                            be based on four different units of the syllabus. The additional two questions in the two sections shall be set in such a
                            manner so that all the 4 units of syllabus are covered. That is if the additional two questions in Long Answer Question Section
                            are from Units I &amp; II, the additional two questions in the Problem-Solving Question Section shall be from Unit IIIrd and IVth.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12">
            @{ Html.RenderPartial("~/Views/Shared/_CUWebAppRightNavigation.cshtml");}
        </div>
    </div>
</div>

<script>
    var _CurrentSection = "Examination";
</script>