<div class="">
    <h1>About Cluster University Srinagar</h1>
</div>
<div class="page-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_cus">What is a Cluster University?</a>
                            </h3>
                        </div>
                        <div id="collapse_cus" class="panel-collapse collapse in">
                            <div class="panel-body text-justify">
                                <p>Most of the State Universities are overburdened with hundreds of affiliated colleges and as a step to decongest these Universities, Government has decided to establish Cluster Universities in the States. These Cluster Universities shall be created from the existing four to five Colleges that are located in close vicinity. The infrastructure development of the Cluster Universities is funded through the Rashtriya Uchchattar Shiksha Abhiyan (RUSA) scheme of the Ministry of Human Resources and Development (MHRD).</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default ">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_colg">What are the constituent colleges of the Cluster University of Srinagar?</a>
                            </h3>
                        </div>
                        <div id="collapse_colg" class="panel-collapse collapse ">
                            <div class="panel-body text-justify">
                                <p>The Cluster University of Srinagar (CUS) has been created by pooling the resources of five existing colleges of Amar Singh College, Sri Pratap College, Govt. College for Women, M. A. Road, Govt. Degree College, Bemina and Govt. College of Education. These five constituent colleges of the Cluster University have adequate academic, physical and technical infrastructural facilities and the mission of CUS would be to lead these colleges to the advanced schools of learning.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_ku">Will Cluster University of Srinagar be associated with University of Kashmir ?</a>
                            </h3>
                        </div>
                        <div id="collapse_ku" class="panel-collapse collapse">
                            <div class="panel-body text-justify">
                                <p>Cluster University of Srinagar shall be an independent University and shall conduct examinations and award degrees following its own rules and&nbsp; regulations. It shall have its own regulatory bodies with Hon’ble Chief Minster as Chancellor of the Cluster University.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_cu">Is Cluster University of Srinagar a State or a Central University ?</a>
                            </h3>
                        </div>
                        <div id="collapse_cu" class="panel-collapse collapse">
                            <div class="panel-body text-justify">
                                <p>
                                    Cluster University of Srinagar is a State University and has been established under “The Srinagar and Jammu Cluster Universities Act, 2016″ passed by the Jammu and Kashmir State Legislature on July 8, 2016. Two Cluster Universities in the State are similar to University of Kashmir/Jammu.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_laun">Have you launched some programmes this session?</a>
                            </h3>
                        </div>
                        <div id="collapse_laun" class="panel-collapse collapse">
                            <div class="panel-body text-justify">
                                <p>We have launched eight 5-year Integrated programmes in this first session of the University and next session we shall be offering many more programmes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_prog">How are these programmes different from other programmes?</a>
                            </h3>
                        </div>
                        <div id="collapse_prog" class="panel-collapse collapse">
                            <div class="panel-body text-justify">
                                <p>It needs to be clarified first that all the existing programmes in the five constituent colleges shall continue as earlier. The eight Integrated programmes are on the top of these existing courses. The importance of the Integrated programmes is that a student shall be able to choose his specialized discipline at an early stage and can remain focused in that subject. Most of the 5-year programmes shall have the exit option after completion of 3-years with B. A (B. Sc) honors degrees. After successfully completing 5-years, candidates shall be awarded Masters degrees. The advantage of the 5-year Integrated programme is that a candidate after successfully completing 3-years is assured of admission in the PG part of the programme. It is important to mention that curriculum of these courses shall be as per UGC or AICTE regulations, depending upon the course.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_crit">What shall be the criteria for admission of the students in the Cluster University?</a>
                            </h3>
                        </div>
                        <div id="collapse_crit" class="panel-collapse collapse">
                            <div class="panel-body text-justify">
                                <p>For all under-graduate programmes, the admission shall be purely based on the marks obtained in the 12th standard. For integrated programmes, 50% weightage shall be given to the combined marks of 10th and 12th standards and 50% shall be reserved for the general aptitude test. The test shall have three sections of general English, reasoning and basic mathematics.</p>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_fee">What shall be the admission fee structure?</a>
                            </h3>
                        </div>
                        <div id="collapse_fee" class="panel-collapse collapse ">
                            <div class="panel-body text-justify">

                                <p>Admission fee structure shall be same as that of last year. As a matter of fact, for some courses, the fee shall be reduced as it was found to be unfair.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_deg">Who shall award the degrees?</a>
                            </h3>
                        </div>
                        <div id="collapse_deg" class="panel-collapse collapse">
                            <div class="panel-body text-justify">
                                <p>All the degress, whether it is under-graduate or post-graduate, shall be awarded by the Cluster University of Srinagar, henceforth. However, it is important to add that those students of the five constituent colleges, who are in the second or third year of their studies, shall continue to remain affiliated with the University of Kashmir and shall be awarded degrees by this University.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12">
                @{ Html.RenderPartial("~/Views/Shared/_CUWebAppRightNavigation.cshtml");}
            </div>
        </div>
    </div>
</div>
<script>
    var _CurrentSection = "University";
</script>