
@{
    ViewBag.Title = "ContractualLecturers";
    Layout = "~/Views/Shared/_CUWebAppLayout.cshtml";
}

<h2>Contractual Lecturers</h2>
<hr />
<div class="page-wrapper">
    <div class="page-content">
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="panel-group">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        Advertisement Notification
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <a href="~/FolderManager/Downloads/Contractual-Lecturers-AdvNotification.pdf" target="_blank"><span><i class="fa fa-arrow-down" aria-hidden="true"></i> </span> View/Download</a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                       Short listing Criteria
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <a href="~/FolderManager/Downloads/Contractual-lecturers-Short-Listing-Criteria.pdf" target="_blank" ><span><i class="fa fa-arrow-down" aria-hidden="true"></i> </span>View/Download</a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                       Application form along with fee receipt
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                       
                     <a href="~/FolderManager/Downloads/form-contractual-lecturer.pdf" target="_blank">
                         <span><i class="fa fa-arrow-down" aria-hidden="true"></i> </span>   View/Download </a>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12">
            @{ Html.RenderPartial("~/Views/Shared/_CUWebAppRightNavigation.cshtml");}
        </div>
    </div>
</div>

