


<table class="table table-hover table-bordered js-table">
    <thead style="white-space: nowrap;">
        <tr style="background: whitesmoke;">
            <th data-property="S.No." style="width:70px;">S.No.</th>
            <th data-property="FullName" style="width:260px;">Name</th>
            <th data-property="UserName" style="width:260px;">Designation</th>
            <th data-property="UserName" style="width:260px;">Email</th>
        </tr>
    </thead>
    @*<td><img class="img-responsive" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/Registrar.jpeg")' style=" width: 133px;height: 106px;margin-left: 63px;" /></td>*@
<tbody>

    <tr>
        <td>1 </td>
        <td>Prof. (Dr.) Syed Wilayat Hussain Rizvi</td>
        <td>Registrar</td>
        @*<td>registrar@cusrinagar.edu.in</td>*@
        <td><a href="mailto:registrar@cusrinagar.edu.in?Subject=ClusterUniversity">registrar@cusrinagar.edu.in</a></td>

    </tr>

    <tr>
        <td>2 </td>
        <td>Prof. Khursheed Ahmad Mir</td>
        <td>Controller of Examination</td>
        @*<td>controller@cusrinagar.edu.in</td>*@
        <td><a href="mailto:controller@cusrinagar.edu.in?Subject=ClusterUniversity">controller@cusrinagar.edu.in</a></td>
    </tr>

    <tr>
        <td>3 </td>
        <td>Prof. Mushtaq Ahmad Lone</td>
        <td>Dean Academics</td>
        @*<td>dean.aa@cusrinagar.edu.in</td>*@
        <td><a href="mailto:dean.aa@cusrinagar.edu.in?Subject=ClusterUniversity">dean.aa@cusrinagar.edu.in</a></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Dr. Nazir Ahmad Kotey</td>
        <td>Dean Social Sciences</td>
        @*<td>dean.ssc@cusrinagar.edu.in</td>*@
        <td><a href="mailto:dean.ssc@cusrinagar.edu.in?Subject=ClusterUniversity">dean.ssc@cusrinagar.edu.in</a></td>
    </tr>
    <tr>
        <td>5</td>
        <td>Dr. Rauf Ahmad Khan</td>
        <td>Dean  Engineering & Technology</td>
        @*<td>dean.et@cusrinagar.edu.in</td>*@
        <td><a href="mailto:deanengg@cusrinagar.edu.in?Subject=ClusterUniversity">deanengg@cusrinagar.edu.in</a></td>
    </tr>

    <tr>
        <td>6</td>
        <td>Dr.Naseer Hussain Shah</td>
        <td>Dean  Sciences</td>
        @*<td>dean.ss@cusrinagar.edu.in</td>*@
        <td><a href="mailto:dean.sc@cusrinagar.edu.in?Subject=ClusterUniversity">dean.sc@cusrinagar.edu.in</a></td>
    </tr>


    <tr>
        <td>7</td>
        <td>Dr. Munir Ahmad Mir</td>
        <td>Dean  Teacher Education</td>
        @*<td>dean.et@cusrinagar.edu.in</td>*@
        <td><a href="mailto:dean.et@cusrinagar.edu.in?Subject=ClusterUniversity">dean.edu@cusrinagar.edu.in</a></td>
    </tr>


    <tr>
        <td>8</td>
        <td>Prof. Deeba I.Sarmad</td>
        <td>Dean  Humanities & Liberal Arts</td>
        @*<td>dean.hla@cusrinagar.edu.in</td>*@
        <td><a href="mailto:dean.hla@cusrinagar.edu.in?Subject=ClusterUniversity">dean.hla@cusrinagar.edu.in</a></td>
    </tr>
    <tr>
        <td>9</td>
        <td>Dr. Shabnam Ara</td>
        <td>Dean Students Welfare</td>
        @*<td>dean.hla@cusrinagar.edu.in</td>*@
        <td><a href="mailto:dean.dsw@cusrinagar.edu.in?Subject=ClusterUniversity">dean.dsw@cusrinagar.edu.in</a></td>
    </tr>
    <tr>
        <td>10</td>
        <td>Prof. (Dr.) G.M Lone</td>
        <td>Dean Commerce &amp; Management</td>
        @*<td>dean.cm@cusrinagar.edu.in</td>*@
        <td><a href="mailto:dean.cm@cusrinagar.edu.in?Subject=ClusterUniversity">dean.cm@cusrinagar.edu.in</a></td>
    </tr>
    <tr>
        <td>11</td>
        <td>Mr. Gulzar Ahmad</td>
        <td>Assistant Registrar / Public Information Officer</td>
        @*<td>dean.hla@cusrinagar.edu.in</td>*@
        <td><a href="mailto:ar@cusrinagar.edu.in?Subject=ClusterUniversity">ar@cusrinagar.edu.in</a></td>
    </tr>
</tbody>
</table>



