
<div class="page-wrapper">
    <div class="page-content">
        <div class="col-md-9 col-sm-9 col-xs-12">
            <h3>Notification for Division Improvememt</h3>
            <hr />
            <iframe id="Cframe" style="width:100%;min-height:800px" frameborder="0" allowtransparency="true" webkitallowfullscreen mozallowfullscreen allowfullscreen
                    src="/FolderManager/Downloads/CUSDivisionImprovement.pdf" )"></iframe>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            @{ Html.RenderPartial("~/Views/Shared/_CUWebAppRightNavigation.cshtml");}
        </div>
    </div>
</div>

<script>
    var _CurrentSection = "Examination";
</script>


