


<div class="page-wrapper">
    <div class="page-content">
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="">
                <h4>Calendar for the conduct of Term End Examination for Under-Graduate, Integrated and Post-Graduate programmes (2017)</h4>
            </div>
            <hr />
            <div class="panel-group">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <span><i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
                        Conduct and submission of practical / Tutorial assessment
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        10th Oct,2017 – 20th Oct,2017
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <span><i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
                        Completion of syllabus and the last day of theory class work
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        16th Oct,2017
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <span><i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
                        Preparatory leave for students
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        17th Oct,2017 to 22nd Oct,2017
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <span><i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
                        First day of term end examination
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        23rd Oct, 2017
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12">
            @{ Html.RenderPartial("~/Views/Shared/_CUWebAppRightNavigation.cshtml");}
        </div>
    </div>
</div>
<script>
    var _CurrentSection = "Examination";
</script>
