<div class="page-wrapper">
    <div class="page-content">
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="">
                <h2> Fee structure</h2>
            </div>
            <hr />
            <div class="panel-group">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <span><i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
                        U.G. 5-Year Integrated, 3-Year Honor's,  Professional &amp; P.G. programmes
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        Rs. 275/- Per Subject @*with a minimum of Rs. 550/-*@
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <span><i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
                        B.Ed, M.Ed, Integrated B.Ed-M.Ed and Engineering Courses
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        Rs. 325/- Per Subject @*with a minimum of Rs. 650/-*@
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <span><i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
                        Examination Infrastructure, Maintenance and Development Fund.
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        Rs. 300/-
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <span><i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
                        Hot and Cold Weather Charges.
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        Rs. 75/-
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <span><i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
                        I.T Charges
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        Rs. 150/-
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <span><i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
                        Late Fee charges for opening the university link for three days beyond the notified date
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        Rs. 300/-
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <span><i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
                        Late Fee charges for opening the university link for three more days beyond the extended date.
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        Rs. 500/-
                    </div>
                </div>
            </div>
            <div class="modal-footer no-padding">
                <br/>
                <p>
                    <em>
                        <strong>
                            The Examination fee structure shall remain in force until a revised notification is
                            issued in this behalf.
                        </strong>
                    </em>
                </p>
                <p>
                    <em><strong>Notification No: CUS/Adm/Fee-Stru/1848-55/2021  Dated : 24-04–2021</strong></em><br />
                    <em><strong>Notification No: CUS/Exam/B.Tech/434-37/2021  Dated : 09-06–2021</strong></em><br />
                    <em><strong>Notification No: CUS/Exam/438-44/2021  Dated : 09-06–2021</strong></em><br /><br />
                    <strong>Late Fee charges</strong><br/>
                    <em><strong>Notification No: 03-CUS of 2023 Dated: 29-03-2023</strong> (Dispatch No.: CUS/Exam/363-73/2023)</em><br />
                </p>
                <br/>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12">
            @{ Html.RenderPartial("~/Views/Shared/_CUWebAppRightNavigation.cshtml");}
        </div>
    </div>
</div>

<script>
    var _CurrentSection = "Examination";
</script>

