<div class="page-wrapper">
    <div class="page-content">
        <div class="">
            <article class="contact-form col-md-8 col-sm-7  page-row">
                <div class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Model papers of various subjects</h1>
                </div>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td align="left">
                                <h3 data-fontsize="16" data-lineheight="24"><a href="~/FolderManager/ModelPaper/AECCModelPaper.pdf" target="_blank" rel="noopener noreferrer">AECC</a></h3>
                            </td>
                            <td align="left">
                                <h3 data-fontsize="16" data-lineheight="24"><a href="~/FolderManager/ModelPaper/BotanyModelPaper-1.pdf" target="_blank" rel="noopener noreferrer">Botany</a></h3>
                            </td>
                            <td align="left">
                                <h3 data-fontsize="16" data-lineheight="24"><a href="~/FolderManager/ModelPaper/ChemistryModelPaper.pdf">Chemistry</a></h3>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                <h3 data-fontsize="16" data-lineheight="24"><a href="~/FolderManager/ModelPaper/HistoryModelPaper-1.pdf" target="_blank" rel="noopener noreferrer">History</a></h3>
                            </td>
                            <td align="left">
                                <h3 data-fontsize="16" data-lineheight="24"><a href="~/FolderManager/ModelPaper/MathematicsModelPaper.pdf" target="_blank" rel="noopener noreferrer">Mathematics</a></h3>
                            </td>
                            <td align="left">
                                <h3 data-fontsize="16" data-lineheight="24"><a href="~/FolderManager/ModelPaper/PhysicsModelPaper.pdf" target="_blank" rel="noopener noreferrer">Physics</a></h3>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                <h3 data-fontsize="16" data-lineheight="24"><a href="~/FolderManager/ModelPaper/ZoologyModelPaper.pdf" target="_blank" rel="noopener noreferrer">Zoology</a></h3>
                            </td>
                            <td align="left"></td>
                            <td align="left"></td>
                        </tr>
                    </tbody>
                </table>
            </article><!--//contact-form-->
            <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                @{ Html.RenderPartial("~/Views/Shared/_CUWebAppRightNavigation.cshtml");}
            </aside><!--//page-sidebar-->
        </div><!--//page-row-->

    </div><!--//page-content-->
</div><!--//page-wrapper-->
<style>
    table, th, td {
        padding-left: 10px !important;
        border: 1px solid black;
    }
</style>
<script>
    var _CurrentSection = "Examination";
</script>
