
<div class="page-wrapper">
    <div class="page-content">
        <div class="col-md-9 col-sm-9 col-xs-12">
            <h3>NEP-2020 Question Paper Patterns </h3>
            <hr />
            <div class="accordion" id="myAccordioncmenu">
                <div class="panel">
                    <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapsible-1"
                         data-parent="#myAccordioncmenu" aria-expanded="false">Paper pattern under NEP-2020</div>
                    <div id="collapsible-1" class="collapse" aria-expanded="false">
                        <iframe id="Cframe1" style="width:100%;min-height:800px" frameborder="0" allowtransparency="true" webkitallowfullscreen mozallowfullscreen allowfullscreen
                                src="/foldermanager/notification/questionpaperpatternnep2020.pdf" )"></iframe>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapsible-2"
                         data-parent="#myAccordioncmenu" aria-expanded="false">Paper pattern for 2 Credit Courses under NEP-2020</div>
                    <div id="collapsible-2" class="collapse" aria-expanded="false">
                        <iframe id="Cframe2" style="width:100%;min-height:800px" frameborder="0" allowtransparency="true" webkitallowfullscreen mozallowfullscreen allowfullscreen
                                src="/foldermanager/notification/paperpatternfor23credit.pdf" )"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            @{ Html.RenderPartial("~/Views/Shared/_CUWebAppRightNavigation.cshtml");}
        </div>
    </div>
</div>

<script>
    var _CurrentSection = "Academics";
</script>

