
@{
    ViewBag.Title = "Registrar's Message";
}
<div class="page-wrapper">
    @*<div class="page-content">
        <div class="col-md-9 col-sm-7 col-xs-12">
            <div class="page-content text-justify">
                <p>
                    <img class="pull-left img-responsive padding10 " height="300" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/registrar-110X110.jpg")'>
                    It is a matter of privilege and honor for me to be the founding Vice-Chancellor of the Cluster University Srinagar (CUS). I believe that establishment of the Cluster University is an innovative and a strategic intervention in the higher education sector of the State. The CUS has been established under “The Srinagar and Jammu Cluster Universities Act, 2016” and the infrastructure development is funded through the Rashtriya Uchchattar Shiksha Abhiyan (RUSA) scheme of the Ministry of Human Resources and Development. The mandate of CUS is to provide opportunities to the aspiring students of the State to pursue higher education and also to bridge the critical gaps in specialized disciplines. The CUS has been created by pooling the resources of five existing colleges of Amar Singh College, Sri Pratap College, Govt. College for Women, M. A. Road, Govt. Degree College, Bemina and Govt. College of Education. These five constituent colleges of the Cluster University have adequate academic, physical and technical infrastructural facilities and the mission of CUS would be to lead these colleges to the advanced schools of learning.
                </p>
                <p>The higher educational sector of the State is in dire need of a paradigm shift due to technological innovations occurring around the world. The modern tools of e-learning shall form an integral component of the educational system at CUS. Innovative under-graduate and post-graduate courses shall be introduced at CUS that will have close linkages with the industry. We intend to devise the curriculum of the CUS schools in coordination with the industry and other stakeholders.In the words of Albert Einstein “Education is not the learning of facts, but the training of minds to think”. At CUS, we intend to introduce a multi-dimensional assessment system that shall include seminars, group discussions, field survey etc. This will widen the intellectual horizons of the students. CUS is also planning to have a complete transparency in the evaluation process and student shall have vested rights to contest the assessments.</p>
                <p>The constituent campuses of CUS have glorious past and have immensely contributed to the intellectual growth of the people of the State. The faculty of the constituent colleges is highly skilled with many of them having advanced doctorate and post-doctorate degrees. CUS shall also be recruiting more than 40 faculty in specialized disciplines in the near future. I consider CUS will have one of the largest faculty strengths in the region with this augmentation.</p>
                <p>I welcome all the aspiring students to our University. I am sure that you will find our campuses intellectually stimulating and have a wonderful learning experience with us.</p>
                <p class="pull-right" >Dr. Yaseen Ahmad Shah <br />Registrar<br />The Cluster University Srinagar</p>
            </div>
         </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
            @{ Html.RenderPartial("~/Views/Shared/_CUWebAppRightNavigation.cshtml");}
        </div>

    </div>*@
</div>



