
<div class="page-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-2 col-sm-2"></div>
                <div class="col-md-5 col-sm-5"><h2 class="text-center" style="padding-bottom:15px;color:#365d7e">Right to Information Cell</h2></div>
            </div>
            <div class="col-md-9 col-sm-12">

                <div class="col-sm-12 thumbnail" style="padding:0px !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%;" src='https://jobs.cusrinagar.edu.in/Content/Recruitment/FormPhotos/90104a51-b2e0-4d8d-bce5-f6901a76ab04.jpg' />
                    </div>
                    <div class="col-md-6 col-sm-12" style="margin-top:28px">
                        <p><strong style="font-size:18px">1<sup>st</sup> Appellate Authority</strong></p>
                        <p style="font-size:18px">Prof. (Dr.) Syed Wilayat Hussain Rizvi</p>
                        <p style="font-size:18px">Registrar</p>
                    </div>
                </div>
                <div class="col-sm-12 thumbnail" style="padding-top:0px !important;background-color:#F5F5F5">
                    <div class="col-md-3 col-sm-12">
                        <img class="img-responsive" style="width:150px;height:149px;padding:0 !important;margin-left:0 !important;border-radius:50% 50%" src='@Url.Content("~/Content/ThemePublic/Libraries/images/team/administration/small/AR.jpg")' />
                    </div>
                    <div class="col-md-6 col-sm-12" style="margin-top:28px">
                        <p><strong style="font-size:18px">Public Information Officer</strong></p>
                        <p style="font-size:18px">Mr. Gulzar Ahmad</p>
                        <p style="font-size:18px">Assistant Registrar</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12">
                <a style="border:1px dashed orange" class="btn btn-danger btn-block btn-link-breaked"
                   href="/FolderManager/Downloads/RTI.pdf" target="_blank">
                    <strong>
                        Guidelines for sou motu disclosure under Section 4 of the RTI Act
                    </strong>
                </a>
                <a style="border:1px dashed orange" class="btn btn-primary btn-block btn-link-breaked"
                   href="/Notification/Notification?TypeIS=ORDERS">
                    <strong>
                        Orders
                    </strong>
                </a>
                <a style="border:1px dashed orange" class="btn btn-primary btn-block btn-link-breaked"
                   href="/Home/Contacts">
                    <strong>
                        Directory
                    </strong>
                </a>
                <br />
                @{ Html.RenderPartial("~/Views/Shared/_CUWebAppRightNavigation.cshtml");}
            </div>
        </div>
    </div>
</div>

<script>
    var _CurrentSection = "RTI";
</script>
