
@{
    ViewBag.Title = "HelpDesk - ";
}

<div class="page-wrapper pager-table-text">
    <header class="page-heading clearfix margin-bottom-10">
        <h1 class="heading-title pull-left">
            HelpDesk
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                List of Queries
            </small>
        </h1>
    </header>
    <div class="page-content">
        <div class="row page-row">
            <div class="col-md-12 jsTableContent">
                <div class="panel panel-primary js-pager-table">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            List of Queries
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="search-box">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label>Category</label><br />
                                    <div class="jsDDLContainer">
                                        @Html.DropDownList("Category", new SelectList(ViewBag.GrievanceCategory, "Value", "Text"),
                                       "All", new
                                       {
                                           @class = "form-control jsfilterelement",
                                           required = "required",
                                           @data_column = "Category",
                                           @data_operator = "EqualTo"
                                       })
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <label>Status</label><br />
                                    <div class="jsDDLContainer">
                                        @Html.DropDownList("Category", new SelectList(ViewBag.GrievanceStatus, "Value", "Text"),
                                       "All", new
                                       {
                                           @class = "form-control jsfilterelement",
                                           required = "required",
                                           @data_column = "Status",
                                           @data_operator = "EqualTo"
                                       })
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <label>Feedback/Grievance Id</label><br />
                                    <div class="jsDDLContainer">
                                        <input type="text" class="form-control jsfilterelement" placeholder="your feedback/Grievance id" data-column="GrievanceID" data-operator="EqualTo" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Query</label><br />
                                    <div class="jsDDLContainer">
                                        <input type="text" class="form-control jsfilterelement" placeholder="Enter part of query" data-column="Message" data-operator="Contains" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="invisible">for styling purpose</label><br />
                                    <button type="button" class="btn btn-sm btn-primary fa-search-btn js-search"><i class="fa fa-search"></i>&nbsp;Search</button>
                                </div>
                                <div class="form-group pull-right">
                                    <label class="invisible">for styling purpose</label><br />
                                    <a class="btn btn-success " href="@Url.Action("GrievanceForm","Grievance")">Post your Grievance</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="js-table-content" data-url='@Url.Action("GrievanceList","Grievance")' data-DefaultOrderByColumn="Date">
                    </div>
                    @{Html.RenderPartial("_JSPagerTableFooter");}
                </div>
            </div>
        </div>
    </div>
</div>

@section PageSpecificJS{
    <script type="text/javascript">
        var _CurrentSection = "Grievance";
        loadpagertable();
    </script>
}



