
<ol>
    civil
    <li><input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Building Materials & Construction </li>
    <li><input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Surveying – I </li>
    <li><input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Engineering Geology</li>
    <li><input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Fluid Mechanics-I </li>
    <li><input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Mechanical Engineering-I </li>
    <li><input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Building Drawing </li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>

<ol>
    bed
    <li><input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Foundation of Education</li>
    <li><input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Learning and Development</li>
    <li><input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Population and Gender Education</li>
    <li><input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Inclusive Education</li>
    <li><input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Environmental Education</li>

    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>

<ol>
    <li>Physcs 4th Semester</li>
    <li>Particle Physics</li>
    <li>Physics of Nano-materials</li>
    <li>Atmospheric Physics</li>
    <li>Computational Methods in Physics</li>
    <li>Field Theory</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>

<ol>
    <li>zoology 4th Semester</li>
    <li>Ecology Limnology and Biodiversity</li>
    <li>Immunology & Applied Zoology</li>
    <li>General Entomology</li>
    <li>Insect Ecology And pest management</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>

<ol>
    <li>zoology 4th Semester</li>
    <li>Electromagnetic Field and Transmission Lines Theory (ECE302)</li>
    <li>Electrical Measurement and Measuring Instruments-I (EE-301)</li>
    <li>Thermal Engineering(M-314)</li>
    <li>Engineering Mathematics-III (MTH-311)</li>
    <li>Network Analysis and Synthesis (EE-302)</li>
    <li>Non-conventional Energy and Applications (EE-303)</li>
</ol>



<ol>
    bed med
    <li><input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Conceptual Basis of Education</li>
    <li><input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Understanding Learner and Learning</li>
    <li><input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Historical Perspectives of Indian Education</li>
    <li><input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Gender School and Society</li>

    <li>
        <input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;
        PEDAGOGY OF SCHOOL SUBJECT – LANGUAGES<br />
        i.English &nbsp;&nbsp;&nbsp;&nbsp;ii. Hindi &nbsp;&nbsp;&nbsp;&nbsp;iii. Kashmiri  &nbsp;&nbsp;&nbsp;&nbsp;vi. Urdu
    </li>
    <li>
        <input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;
        PEDAGOGY OF SCHOOL SUBJECTS:<br />
        i.	Physical Science      &nbsp;&nbsp;&nbsp;&nbsp;ii. Bio Science-I      &nbsp;&nbsp;&nbsp;&nbsp;iii. History & Political Science-I <br />   iv. Geography   &nbsp;&nbsp;&nbsp;&nbsp;v. Mathematics-I
    </li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>


<ol>
    ms evs semester 4
    <li>
        <input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Environmental Engineering
    </li>
    <li>
        <input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Environmental
        Engineering
        Biodiversity
        And Resource
        Management
    </li>
    <li><input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Aquatic Ecology</li>
    <li>
        <input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;Environmental
        Planning and
        Auditing
    </li>

    <li>
        <input type="checkbox" class="checkbox checkbox-inline" style="width:15px;height:15px;margin-top:0px;" />&nbsp;&nbsp;
        Restoration
        Ecology

    </li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>


<ol>
    <li>zoology 4th Semester</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>


<ol>
    <li>zoology 4th Semester</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>



<ol>
    <li>zoology 4th Semester</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>



<ol>
    <li>zoology 4th Semester</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>



<ol>
    <li>zoology 4th Semester</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>



<ol>
    <li>zoology 4th Semester</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>



<ol>
    <li>zoology 4th Semester</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>



<ol>
    <li>zoology 4th Semester</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>



<ol>
    <li>zoology 4th Semester</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>




<ol>
    <li>zoology 4th Semester</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>




<ol>
    <li>zoology 4th Semester</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>



<ol>
    <li>zoology 4th Semester</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
    <li> ....................................................</li>
</ol>